<!doctype html>
<html lang="en" ng-app="ShoppingListCheckOff">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller="ToBuyShoppingController as listToBuy">
     <h2>To Buy:</h2>
      <ol>
        <div>
         <li ng-repeat="item in listToBuy.items;">{{ item.quantity }} of {{ item.name }}<button class="btn btn-default" ng-click="listToBuy.checkOff($index);"><span class="glyphicon glyphicon-ok"></span>Bought</button></li>
        </div>
      </ol>
     <div class="emptyMessage" ng-show="listToBuy.items.length == 0">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="AlreadyBoughtShoppingController as listBought">
     <h2>Already Bought:</h2>
     <ol>
       <li ng-repeat="item in listBought.items;">{{ item.quantity }} of {{ item.name }}</li>
     </ol>
     <div class="emptyMessage" ng-show="listBought.items.length == 0">Nothing bought yet.</div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>
